# Build outputs
sim
*.dSYM/
!code/basesim.dSYM/

# Virtual environments
venv/

# Python cache and bytecode
__pycache__/

# Results and analysis outputs
# results/


# Editor/IDE files
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/


